<main class="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <a href="add-user" class="border-shadow">
        <span class="text-gradient">New User<i class="fas fa-user"></i></span>
      </a>
    </div>
    <!--Form Handling-->
    <form action="/" method="POST">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Index</th>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Nomor HP</th>
            <th>confidence</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>OBJK@31</td>
            <td>Prim</td>
            <td>Irsuchzz@gmaisde.com</td>
            <td>Fusethzawe</td>
            <td>833216231</td>
            <td>90</td>
            <td>
              <a href="update-user" class="btn border-shadow update">
                <span class="text-gradient"
                  ><i class="fas fa-pencil-alt"></i
                ></span>
              </a>
              <a href="#" class="btn border-shadow delete">
                <span class="text-gradient"><i class="fas fa-times"></i></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <!--/Form Handling-->
</main>
